/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 de fev. de 2026, 19:55:23
    Author     : Usuario
*/

#main {
    background-color: var(--primary-medium);
    height: 90vh;

    display: flex;
    justify-content: center;  /* centraliza horizontal */
    align-items: center;      /* centraliza vertical */
}

#footer {
    background-color: var(--primary-light);
    width: auto;
    height: 10vh;
}