/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 de fev. de 2026, 20:47:10
    Author     : 232.004662
*/

.title{
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    margin: 10px;
    padding-left: 20px;
}
.navbar {
    background-color: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: space-between; /* separa título e menu */
    padding: 0 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    background-color: #13509d;
    border-radius: 5px;
    text-align: center;
}

.nav-list li:hover {
    background-color: #1867ca;
}

#footer {
    background-color: var(--primary-light);
    width: auto;
    height: 10vh;
}